*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#8B008B, #A020F0);
    background-color: gray;
    position: relative;
    background-repeat: no-repeat;
}

.container{
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


nav.menus{
    margin: 30px 0 0 1200px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: beige;
}

a:hover{
    transition: 0.4s;
    border-radius: 10px;
    background: radial-gradient(#4B0082, #9400D3);
    padding: 5px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
}

.android{
    width: 900px;
    height: 700px;
    float: left;
    margin: 0px 0 0 200px ;
}

.inicio{
    font-family: Arial, Helvetica, sans-serif;
    margin: 300px 150px 0 30px;
    color: beige;
    font-size: 20px;
    text-align: center;
}

.spanAndroid{
    color: #4682B4 ;
}

.spanRev{
    color: crimson;
}

.spanmente{
    color: #DAA520;
}


.box2{
    margin: 150px 0 0 350px;
    width: 1200px;
    height: 930px;
    background-color: #1C1C1C;
    border-radius: 10px 0 10px 0;
    border-radius: 20px;
    text-align: justify;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    color: white;
    font-weight: 100;
    line-height: 30px;
}

.box3{
    margin: 500px 200px 0 350px;
    width: 1200px;
    height: 300px;
    background-color: #1C1C1C;
    border-radius: 20px 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 100px 20px 0 20px;
    box-shadow:black;
    color: white;
    text-align: justify;
}

.ia1{
    color: beige;
}

html{
    scroll-behavior: smooth;
}

span{
    color: wheat;
}

footer{
    text-align: center;
    margin: 100px 0 50px 0 ;
    color:whitesmoke;
    font-size: 20px;
}

@media screen and (min-width: 810px) and (max-width: 1080px) {
    .android {
        max-width: 700px;
    }

    .container {
        padding: 0 20px;
    }

    .inicio {
        font-size: 20px;
    }

    .box2, .box3 {
        max-width: 700px; /* Ajuste a largura máxima para esta faixa de largura */
    }
}